// Estilo del Footer
.custom-footer {
    background-color: #130233; // Fondo oscuro para el footer
    color: #fff; // Texto blanco
    text-align: center; // Centrado del contenido
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid #6a1b9a; // Línea superior morada para destacar
  
    // Estilo del texto
    p {
      font-size: 14px;
      margin-bottom: 15px;
      font-family: 'Roboto', sans-serif;
    }
  
  }
  