<!-- Footer -->
<footer class=" text-white text-center  custom-footer">
    <div class="container">
      <!-- Texto del footer con fecha dinámica -->
      <p>&copy; {{ currentYear }} Anthx - Todos los derechos reservados.</p>
      
    
  
      <!-- Enlaces adicionales o información -->
      <div class="footer-links mt-3">
        <a href="/about" class="footer-link">Sobre nosotros</a> | 
        <a href="/privacy-policy" class="footer-link">Política de privacidad</a> | 
        <a href="/contact" class="footer-link">Contacto</a>
      </div>
    </div>
  </footer>
  