<!-- Contenedor principal -->
<div class="d-flex flex-column" style="height: 100%;">
  <!-- Footer - ocupa todo el alto -->
  <footer class="text-white text-center custom-footer py-3" style="background-color: #340070; padding-left: 0; padding-right: 0; height: 100%; width: 100%;">
    <div class="container-fluid d-flex flex-column justify-content-center" style="height: 100%;">

      <!-- Texto del footer con fecha dinámica -->
      <p>&copy; {{ currentYear }} Anthx - Todos los derechos reservados.</p>

      <!-- Enlaces adicionales o información -->
      <div class="footer-links mt-3">
        <a href="/about" class="footer-link text-white">Sobre nosotros</a> | 
        <a href="/privacy-policy" class="footer-link text-white">Política de privacidad</a> | 
        <a href="/contact" class="footer-link text-white">Contacto</a>
      </div>
    </div>
  </footer>
</div>
