<div class="custom-container" >
  <h2 class="page-title">LISTA DE EMPLEADOS</h2>

  <!-- Botones para cargar y descargar datos en Excel -->
  <div class="button-container">
    <button class="custom-btn success" (click)="descargarExcel()">Descargar Excel</button>

    <!-- Estilo personalizado para el input de archivo -->
    <label for="fileInput" class="custom-btn file-label">Cargar Excel</label>
    <input type="file" id="fileInput" (change)="cargarExcel($event)" accept=".xlsx, .xls" class="file-input" />

    <button class="custom-btn warning" (click)="guardarEmpleados()">Guardar Empleados</button>
  </div>

  <!-- Tabla de empleados -->
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Puesto</th>
          <th>Salario</th>
          <th>Fecha de Contratación</th>
          <th>Departamento</th>
          <th>Correo Electrónico</th>
          <th>Fecha de Nacimiento</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados; trackBy: trackEmpleadoId">
          <th>{{ empleado.idEmpleado }}</th>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.puesto }}</td>
          <td>{{ empleado.salario | currency:'S/':true }}</td>
          <td>{{ empleado.fechaContratacion }}</td>
          <td>{{ empleado.departamento }}</td>
          <td>{{ empleado.correoElectronico }}</td>
          <td>{{ empleado.fechaNacimiento }}</td>
          <td>
            <button class="custom-btn danger" (click)="eliminarEmpleado(empleado.idEmpleado)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
