/* Estilo general para la página */
.custom-container {
  background-color: #f9f9f9aa;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
margin-bottom: 400px;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #001997;
  margin-bottom: 30px;
  background: linear-gradient(to right, #007bff, #28a745);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* Botones generales */
.custom-btn {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.success {
  background-color: #28a745;
  color: white;
}

.success:hover {
  background-color: #218838;
}

.warning {
  background-color: #ffc107;
  color: white;
}

.warning:hover {
  background-color: #e0a800;
}

.danger {
  background-color: #dc3545;
  color: white;
}

.danger:hover {
  background-color: #c82333;
}

/* Estilo personalizado para el input de archivo */
.file-input {
  display: none; /* Ocultamos el botón predeterminado */
}

/* Estilo del label, que actuará como el botón */
.file-label {
  display: inline-block;
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #0056b3;
}

/* Estilo para la tabla */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #e9ecef;
}

tr:hover td {
  background-color: #f1f1f1;
  cursor: pointer;
}
