<div class="container ">
    <p class="text-center font-weight-bold">Registrar Asistencia de Empleados</p>
  
    <!-- Tabla para mostrar los empleados -->
    <div class="table-container">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">Hora de Entrada</th>
            <th scope="col">Hora de Salida</th>
            <th scope="col">Asistencia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <th scope="row">{{ empleado.idEmpleado }}</th>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.puesto }}</td>
            <td>
              <button *ngIf="!empleado.horaEntrada" (click)="registrarHoraEntrada(empleado)" class="btn btn-primary">Marcar Entrada</button>
              <span *ngIf="empleado.horaEntrada">{{ empleado.horaEntrada }}</span>
            </td>
            <td>
              <button *ngIf="empleado.horaEntrada && !empleado.horaSalida" (click)="registrarHoraSalida(empleado)" class="btn btn-secondary">Marcar Salida</button>
              <span *ngIf="empleado.horaSalida">{{ empleado.horaSalida }}</span>
            </td>
            <td [ngClass]="{'text-success': empleado.horaEntrada && empleado.horaSalida, 'text-danger': !empleado.horaEntrada || !empleado.horaSalida}">
              {{ empleado.horaEntrada && empleado.horaSalida ? 'Asistió' : 'No Asistió' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-success" (click)="guardarAsistencia()">Guardar Asistencia del Día </button>
    </div>
  </div>
  