<div class="dashboard-container">
    <div class="button-container">
      <button class="dashboard-btn" (click)="goToAsistencia()">
        <img src="assets/img/attendance-icon.png" alt="Asistencia" class="dashboard-img" />
        <span>Asistencia</span>
      </button>
      <button class="dashboard-btn" (click)="goToPersonal()">
        <img src="assets/img/person-icon.png" alt="Personal" class="dashboard-img" />
        <span>Personal</span>
      </button>
      <button class="dashboard-btn" (click)="goToUsuarios()">
        <img src="assets/img/users-icon.png" alt="Usuarios" class="dashboard-img" />
        <span>Usuarios</span>
      </button>
    </div>
  </div>
  